services:
  app:
    image: bmcpriyamal/express-app:latest
    ports:
      - "3000:3000"
    restart: always

  watchtower:
    image: containrrr/watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 30 --cleanup
    restart: always